@model BookStore.Models.Book

@{
    ViewBag.Title = "DeleteBook";
}

<h2>Delete</h2>

<h4>Book Database</h4>
<hr />
<table class="book-database">
    <tr>
        <th>Num</th>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Year</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>

    @for (int i = 0; i < ViewBag.books.Count; i++) {
        <tr>
            <td>@ViewBag.books[i].Index</td>
            <td>@ViewBag.books[i].ID</td>
            <td>@ViewBag.books[i].Name</td>
            <td>@ViewBag.books[i].Author </td>
            <td>@ViewBag.books[i].Year</td>
            <td>$@ViewBag.books[i].Price</td>
            <td>@ViewBag.books[i].Stock</td>
        </tr>
    }
</table>
<br />

@using (Html.BeginForm("DeleteBook", "BookStore", FormMethod.Post)) {
    <table cellpadding="2" cellspacing="0">
        <tr>
            <td><input type="submit" value="Delete" /></td>
            <td>@Html.DropDownList("attribute", new List<SelectListItem> {
                    new SelectListItem { Text = "Num", Value = "num" },
                    new SelectListItem { Text = "ID", Value = "id" },
                    new SelectListItem { Text = "Year", Value = "year" }})</td>
            <td id="index">@Html.TextBoxFor(model => model.Index, new { id = "index-textbox" })</td>
            <td hidden id="id">@Html.TextBoxFor(model => model.ID, new { id = "id-textbox" })</td>
            <td hidden id="year">@Html.TextBoxFor(model => model.Year, new { id = "year-textbox" })</td>
            <td id="index-message">@Html.ValidationMessageFor(model => model.Index)</td>
            <td id="id-message">@Html.ValidationMessageFor(model => model.ID)</td>
            <td id="year-message">@Html.ValidationMessageFor(model => model.Year)</td>
        </tr>
    </table>
}

@section Scripts {
    <script type="text/javascript">
        $.fn.clearErrors = function () {
            $(this).each(function () {
                $(this).find(".field-validation-error").empty();
            });
        };

        $(function () {
            $("#index-textbox").val("");
            $("#attribute").change(function () {
                $("#index-message, #id-message, #year-message").clearErrors();
                $("#index-textbox, #id-textbox, #year-textbox").val("");
                var selectedValue = $(this).val();
                if (selectedValue == "num") {
                    $("#index, #index-message").show();
                    $("#id, #id-message, #year, #year-message").hide();
                } else if (selectedValue == "id") {
                    $("#id, #id-message").show();
                    $("#index, #index-message, #year, #year-message").hide();
                } else if (selectedValue == "year") {
                    $("#year, #year-message").show();
                    $("#index, #index-message, #id, #id-message").hide();
                }
            });
        });
    </script>
}

